# --------------------------------------
# mac
# --------------------------------------
**/.DS_Store

# --------------------------------------
# java
# --------------------------------------
hs_err_pid*
*hprof*/
*.hprof
.classpath
.metadata

# --------------------------------------
# idea
# --------------------------------------
.idea/
*.iml
*.eml
*.ipr
*.iws

# --------------------------------------
# vscode
# --------------------------------------
.vscode/

# --------------------------------------
# gradle
# --------------------------------------
build/
bin/
.gradle/

!/**/src/**/build
!/**/src/**/bin

# --------------------------------------
# temporary files
# --------------------------------------
*.tmp
*.temp
*.bak
*.backup
~*
