# --------------------------------------
# mac
# --------------------------------------
**/.DS_Store

# --------------------------------------
# java
# --------------------------------------
hs_err_pid*

# --------------------------------------
# heap dump
# --------------------------------------
*hprof*/
*.hprof

# --------------------------------------
# log
# --------------------------------------
*.log*

# --------------------------------------
# idea
# --------------------------------------
.idea/
.run/
*.eml
*.iml
*.ipr
*.iws

# --------------------------------------
# temporary files
# --------------------------------------
*.tmp
*.temp
*.bak
*.backup
~*

# --------------------------------------
# kotlin
# --------------------------------------
.kotlin/

# --------------------------------------
# gradle
# --------------------------------------
.gradle/
!gradle/wrapper/gradle-wrapper.jar
!gradle/libs.versions.toml
build/
