# --------------------------------------
# mac
# --------------------------------------
**/.DS_Store

# --------------------------------------
# java
# --------------------------------------
hs_err_pid*
*hprof*/
*.hprof
.classpath
.metadata

# --------------------------------------
# idea
# --------------------------------------
.idea/
.run/
*.iml
*.eml
*.ipr
*.iws

# --------------------------------------
# vscode
# --------------------------------------
.vscode/

# --------------------------------------
# gradle
# --------------------------------------
.gradle/
.kotlin/
build/
bin/

!/**/src/**/build
!/**/src/**/bin

!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# --------------------------------------
# 构建产物等
# --------------------------------------
*.jar
*.war
*.zip
*.tar.gz
*.tgz
*.rar
*.7z

# --------------------------------------
# temporary files
# --------------------------------------
*.tmp
*.temp
*.bak
*.backup
~*
